@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  transition: 250ms ease-in;
  scroll-behavior: smooth;
}

:root {
  --pColor: #583a3d;
  --sColor: #85a290;
  --accent: #e5dac6;
  --black: #242323;
}
body {
  background: #f9f9f9;
}

header .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 80px;
  /* background: rgba(255, 255, 255, 0.6); */
  background-color: #e5dac690;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  z-index: 999999999999;
}
.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.hamburger section {
  width: 30px;
  height: 3px;
  background: var(--pColor);
}
.hamburger.active section:nth-child(2) {
  opacity: 0;
}
.hamburger.active section:nth-child(1) {
  transform: rotate(45deg) translateY(5px) translateX(7px);
}
.hamburger.active section:nth-child(3) {
  transform: rotate(-45deg) translateY(-5px) translateX(7px);
}
.blog_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.blog,
.content_heading_and_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog {
  margin-block: 2rem;
}
.blog section:last-child p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 30px;
}
.blog_content .blog div img {
  width: calc(100vw - 40px);
  height: auto;
  object-fit: cover;
}
h2,
h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: var(--pColor);
  text-align: left;
}
h2 {
  font-size: 1.3rem;
  padding-left: 20px;
}

.hero {
  padding: 20px;
}
.hero p {
  font-size: 1rem;
  line-height: 30px;
}
.content_menu {
  line-height: 25px;
  background: #fff;
  padding: 20px;
  transition: height 0.25s ease;
  height: 600px;
  overflow: scroll;
}

.content_menu ul li {
  list-style-type: none;
}
.content_menu ul li a {
  text-decoration: none;
  color: royalblue;
}
.content_menu hr {
  width: 60%;
  margin-block: 8px;
  opacity: 0.1;
}
.content_menu ul li:is(.link_heading) {
  color: #031c2c;
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.content_menu.toggle_menu_list_content {
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: height 0.25s ease;
}
.blog a {
  color: var(--pColor);
  margin-block: 8px;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
}
.blog p {
  color: var(--black);
  opacity: 0.7;
}
.blog .smalls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  font-size: 0.8rem;
}

.copyright {
  text-align: center;
  background-color: #e5dac648;
  padding: 10px 0;
  color: white;
}
.copyright small {
  opacity: 0.7;
  font-family: pacifico;
  color: var(--pColor);
}
.copyright a {
  color: var(--pColor);
  font-family: pacifico;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f9f9f9;
}

body::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--sColor);
  outline: 1px solid var(--sColor);
  border-radius: 20px;
}

.social_media ul {
  display: flex;
  justify-content: space-evenly;
  padding-block: 40px;
  background-color: #e5dac648;
  margin-top: 30px;
}
.social_media ul li {
  list-style: none;
}
.social_media ul li a {
  color: var(--pColor);
  background: var(--accent);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 20px;
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding: 40px;
  }
  .blog_content {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }

  .blog {
    width: calc((100vw / 3.5) - 40px);
  }

  .blog_content .blog div img {
    width: calc((100vw / 3.5) - 40px);
  }
}
